<h3><%= @discussion.title %> <small>in <%= @discussion.project.title %></small></h3>
<%= @discussion.body %>
<hr>
<%= render "comments/form" %>
<hr>
<% @discussion.comments.each do |comment| %>
  <span class="pull-right">
    <%= link_to "Edit", edit_discussion_comment_path(@discussion, comment), class: "btn btn-warning btn-sm" %>
    <%= link_to "Delete", [@discussion, comment], method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure? This is permanent and cannot be undone."} %>
  </span>
  <%= comment.body %>
  <hr>
<% end %>