<div class="container" style="margin-left:-15px">
  <h2>
    <%= "#{@discussion.title} <small>by #{name(@discussion.user)} in #{@discussion.project.title}</small>".html_safe %>
    <span class="pull-right">
      <%= link_to "Edit", edit_project_discussion_path(@discussion.project, @discussion), class: "btn btn-warning" %>
      <%= link_to "Delete", [@discussion.project, @discussion], method: :delete, data: {confirm: "Are you sure? This is permanent and cannot be undone."}, class: "btn btn-danger" %>
    </span>
  </h2>
  <%= @discussion.body %>
</div>
<hr>
<div class="container" style="margin-left:-15px">
  <div class="row">
    <h3>Comments</h3>
  </div>
  <div class="row">
    <div id="comment_form" class="col-md-4">
      <%= render partial: "/comments/form", locals: { discussion: @discussion, comment: Comment.new } %>
    </div>
    <div id="comment_list" class="col-md-8">
      <% @discussion.comments.each do |comment| %>
        <%= render partial: "/comments/comment", locals: { discussion: @discussion, comment: comment } %>
      <% end %>
    </div>
  </div>
</div>