<div id="<%= dom_id(comment) %>">
  <span class="pull-right">
    <%= link_to "Edit", edit_discussion_comment_path(discussion, comment), class: "btn btn-warning btn-sm", remote: true %>
    <%= link_to "Delete", [discussion, comment], method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure? This is permanent and cannot be undone."}, remote: true %>
  </span>
  <%= "<em>#{name(comment.user)} says:</em><br />".html_safe %>
  <%= comment.body %>
  <hr>
</div>