<div class="container" style="margin-left: -15px">
  <div class="row">
    <h2>
      <%= @task.title %>
      <%# " <small>by #{@task.user}</small>" if @task.user %>
      <span class="pull-right">
        <%= form_for [@task.project, @task], method: :patch, html: {style: "display: inline-block"} do |f| %>
          <% if @task.complete %>
            <input type="hidden" name="task[complete]" value="false" />
            <%= f.submit "Mark as Incomplete", class: "btn btn-default" %>
          <% else %>
            <input type="hidden" name="task[complete]" value="true" />
            <%= f.submit "Mark as Completed", class: "btn btn-default" %>
          <% end %>
        <% end %>
        <%= link_to "Edit", edit_project_task_path(@task.project, @task), class: "btn btn-warning" %>
        <%= link_to "Delete", [@task.project, @task], method: :delete, class: "btn btn-danger" %>
      </span>
    </h2>
  </div>
  <div class="row">
    <%= @task.description %>
  </div>
</div>